<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3824dc69-3941-45ec-b681-566236cfa0fb/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.ContainerRegistry/registries/TravelDiscover20211112163914</ResourceId>
    <ResourceName>TravelDiscover20211112163914</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://traveldiscover20211112163914.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>24d1978f-b4d2-4569-87f0-1911cebbd288</ProjectGuid>
  </PropertyGroup>
</Project>